#Increment {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(158, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    border-radius: 50%; /* Makes the button a perfect circle */
    width: 400px; /* Set equal width */
    height: 400px; /* Set equal height */
    font-size: 100px;
    text-align: center; /* Center text horizontally */
    line-height: 100px; /* Center text vertically */
    padding: 0; /* Remove padding to avoid distortion */
    outline: none; /* Remove outline on focus */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
}
#display {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}  

body {
    background-color: darkslategrey;
}

  

